{%include "./blog/include/navbar.html" %}
<div class="modal fade" role="dialog" aria-labelledby="modaltitle" aria-hidden="true" tabindex="-1" id="login-modal">
    <div class="modal-dialog min-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modaltitle">用户登录</h4>
            </div>
            <div class="modal-body clearfix">
                <form class="form-horizontal" id="login-form" method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                    <label class="col-sm-3 control-label">用户名</label>
                    <div class="col-sm-7">
                    <input type="text" class="form-control" id="login-username"/>
                    </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;码</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="login-password"/>
                        </div>
                    </div>
                    <div class="cent">
                        <button class="btn btn-primary" type="submit">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" aria-labeledby="modaltitle" aria-hidden="true" table="-1" id="register-modal">
    <div class ="modal-dialog min-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">用户注册</h4>
            </div>
            <div class="modal-body clearfix">
                <form class="form-horizontal" method="post" role="form" id="register-form">
                {%csrf_token%}
                    <div class="form-group">
                        <label class="col-sm-3 control-label">用&nbsp;户&nbsp;名&nbsp;</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="register-username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码&nbsp;</label>
                        <div class="col-sm-7">
                            <input type="password" id="password1" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">确认密码</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" id="password2"/>
                        </div>
                    </div>
                    <div class="form-group">
                    <label class="col-sm-3 control-label">电子邮箱</label>
                    <div class="col-sm-7">
                    <input type="email" class="form-control" id="email"/>
                    </div>
                    </div>
                    <div class="cent">
                        <button type="submit" class="btn btn-primary">注册</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>  
<script type="text/javascript">
    $("#login-form").submit(function(){
        $.ajax({
            type:"POST",
            url:"/user/login",
            data:{"username":$("#login-username").val(),"password":$("#login-password").val()},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken",$.cookie('csrftoken'));
            },
            success:function(data,status){
                var errors = data["errors"]
                if(errors.length==0){
                    $("#navbar").load("/part/navbar");
                    $("#login-modal").modal("hide");
                }
                else{
                    html = "<div class=\"alert alert-danger\" id=\"errorinfo\">";
                    for(i in errors){
                        html += errors[i] + ",";
                    }
                    html += "</div>";
                    $("#login-modal .modal-header").after(html);
                }
            },
            error:function(XMLHttpRequest,textStatus,errorThrown){
                alert(XMLHttpRequest,responseText);
            }
        });
        return false;
    });
    $("#register-form").submit(function(){
        $.ajax({
            type:"POST",
            url:"user/register",
            data:{"username":$("#register-username").val(),"password1":$("#password1").val(),"password2":$("#password2").val(),"email":$("#email").val()},
            beforeSend:function(xhr){
                xhr.setRequestHeader("X-CSRFToken",$.cookie('csrftoken'));
            },
            success:function(data,status){
                var errors = data["errors"]
                if(errors.length==0){
                    $("#navbar").load("/part/navbar");
                    $("#register-modal").modal("hide");
                }
                else{
                    html = "<div class=\"alert alert-danger\" id=\"errorinfo\">"
                    for(i in errors){
                        html += errors[i] + ",";
                    }
                    html += "</div>"
                    $("#register-modal .modal-header").after(html);
                }
            },
            error:function(XMLHttpRequest,textStatus,errorThrown){
                alert(XMLHttpRequest,responseText);
            },
        })
        return false;
    })
    $("#navbar").on("click","#logout",function(){
        $.ajax({
            type:"get",
            url:"/user/logout",
            success:function(data,status){
                $("#login-form").trigger("reset");
                $("#register-form").trigger("reset");
                $("#errorinfo").remove();
                $("#navbar").load("/part/navbar");
            },
            error:function(XMLHttpRequest,textStatus,errorThrown){
                alert(XMLHttpRequest,responseText);
            },
        })
    })
</script>